<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="businessObjects" />
  </configSections>

  <dataConfiguration defaultDatabase="Painting" />
  <connectionStrings>
    <add connectionString="Server=123.123.123.12;Database=metro;User ID=sa;Password=xyzxyz" name="Painting" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <!--<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <urlMappings configSource="Urlmapping.config"/>
    </system.web>-->

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="704889576" executionTimeout="36000" />
    <customErrors mode="Off" />
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
    <urlMappings configSource="Urlmapping.config"/>
  </system.web> 
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="DEFAULTMAIL" value="abcx88010@gmail.com" />     
    <add key="DEFAULTPASSWORD" value="0987654321x" />
  
  </appSettings>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
<system.net>
  <mailSettings>
    <smtp>
      <network enableSsl="true"/>
    </smtp>
  </mailSettings>
</system.net>
  
</configuration>
